<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuri.ynweb_kj.dao.KeContentCharacterMapper" >
  <resultMap id="BaseResultMap" type="com.yuri.ynweb_kj.pojo.KeContentCharacter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="character_id" property="characterId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ke_content_character
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuri.ynweb_kj.pojo.KeContentCharacter" >
    insert into ke_content_character (id, content_id, character_id, 
      order_id)
    values (#{id,jdbcType=INTEGER}, #{contentId,jdbcType=INTEGER}, #{characterId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuri.ynweb_kj.pojo.KeContentCharacter" >
    update ke_content_character
    set content_id = #{contentId,jdbcType=INTEGER},
      character_id = #{characterId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, content_id, character_id, order_id
    from ke_content_character
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, content_id, character_id, order_id
    from ke_content_character
  </select>
  <select id="getCharacterIdsByContentId" resultType="java.lang.Integer" >
    select character_id from ke_content_character where content_id=#{contentId}
  </select>
</mapper>