<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuri.ynweb_kj.dao.KeTestMapper" >
  <resultMap id="BaseResultMap" type="com.yuri.ynweb_kj.pojo.KeTest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ke_test
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yuri.ynweb_kj.pojo.KeTest" >
    insert into ke_test (id, question, content_id, 
      pic_url, order_id, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{question,jdbcType=VARCHAR}, #{contentId,jdbcType=INTEGER}, 
      #{picUrl,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yuri.ynweb_kj.pojo.KeTest" >
    update ke_test
    set question = #{question,jdbcType=VARCHAR},
      content_id = #{contentId,jdbcType=INTEGER},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, question, content_id, pic_url, order_id, create_time, update_time
    from ke_test
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, question, content_id, pic_url, order_id, create_time, update_time
    from ke_test
  </select>
  <select id="getTestListByContentId" resultMap="BaseResultMap" >
    select id, question, pic_url
    from ke_test
    where content_id=#{contentId}
    order by order_id desc
  </select>
</mapper>